<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="add">
      <ion-icon name="md-add-circle"></ion-icon>
      <ion-label>add</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
        <ion-label>profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>